h1{
    border-style:solid;
    border-color:green;
    border-width:50px;
    border-radius:15px;
    border-right-color:greenyellow;
    border-left-color:greenyellow;
    background-color:greenyellow;
    text-align:center;
    font-family:Cochin;
    
}
body{
    background-color:aqua;
}
div{
   text-align:center;
    
}
div button{
    background-color:greenyellow;
    color:green;
    height:50px;
    margin-top:-30px;
    font-size:20px;
    font-family:cochin;
    border-radius:10px;
}
.container{
    width:418px;
    height:350px;
    right:35%;
    position: absolute;
    background-color:blueviolet;
    border-radius:20px;
    
}
input{
    width:20px;
    height:20px;
    
}
.list{
    width:100%;
    height:150px;
    position:absolute;
    
}
input:nth-child(1)[type="radio"]:checked ~ .a1{
    background:url(images/923DFF04-5089-448C-BB73-86D632B17DDC_1_105_c.jpeg);
    height:400px;
    width:400px;
    background-size:100%;
    background-repeat:no-repeat;
    position: absolute;
    left:2%;
    border-radius:20px;
    
    
}
input:nth-child(2)[type="radio"]:checked ~ .a2{
    background:url(images/449ADEFE-BF66-409C-80DF-A333448372C1_1_105_c.jpeg);
    height:400px;
    width:400px;
    background-size:100%;
    background-repeat:no-repeat;
    position:absolute;
    left:2%;
    border-radius:20px;
}
input:nth-child(3)[type="radio"]:checked ~ .a3{
    background:url(images/4832A2BA-7773-4804-B01E-022BEB594904_1_105_c.jpeg);
    height:400px;
    width:400px;
    background-size:100%;
    background-repeat:no-repeat;
    position:absolute;
    left:2%;
    border-radius:20px;
}
input:nth-child(4)[type="radio"]:checked ~ .a4{
    background:url(images/D276EF6A-F74F-454C-ACCA-2DCB3B64B44B_1_105_c.jpeg);
    height:400px;
    width:400px;
    background-size:60%;
    background-repeat:no-repeat;
    position:absolute;
    left:22%;
    border-radius:20px;
}
input:nth-child(5)[type="radio"]:checked ~ .a5{
    background:url(images/DA78D92F-0EA4-479B-869B-D52D34D7F4A5_1_105_c.jpeg);
    height:400px;
    width:400px;
    background-size:100%;
    background-repeat:no-repeat;
    position:absolute;
    left:2%;
    border-radius:20px;
}
input:nth-child(6)[type="radio"]:checked ~ .a6{
    background:url(images/6D923CA8-C707-44DD-A313-90F8BCF9108E_1_105_c.jpeg);
    height:400px;
    width:400px;
    background-size:100%;
    background-repeat:no-repeat;
    position:absolute;
    left:2%;
    border-radius:20px;
}
h3{
    margin-top:60%;
    color:crimson;
    font-family:verdana;

}
marquee{
    width:60%;
    padding:10px 0px;
    font-family:verdana;
    font-size:15px;
    
}
@media screen and (max-width:375px){
    .main{
    top:70%;
    left:0.1%;
    width:100%;
    }
    input:nth-child(1)[type="radio"]:checked ~ .a1,
    input:nth-child(2)[type="radio"]:checked ~ .a2,
    input:nth-child(3)[type="radio"]:checked ~ .a3,
    input:nth-child(4)[type="radio"]:checked ~ .a4,
    input:nth-child(5)[type="radio"]:checked ~ .a5,
    input:nth-child(6)[type="radio"]:checked ~ .a6{
        width:95%;
    }
    .div0{
        width:83%;
        
    }
    div button{
        font-size:90%;
        
    }
    marquee{
        width:100%;
    }
    .btn1{
        padding:0.8%;
        float:right;
    }
}
